
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.spaceMain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    border: 1px solid gainsboro;
    border-radius: .4rem;
    width: 35%;
    padding: 1.2rem;
}

.spaceMain.noBorder {
    border: none;
}

.quizHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1rem;

    position: relative;
}

.mainTitle {
    color: #000;
    font-size: 1.5rem;;
}

.time {
    display: flex;
    align-items: center;

    gap: 5px;
    padding: .3rem;
    background-color: green;
    border-radius: .3rem;
}

.time .timeText {
    color: #fff;
}

.time .timeSecond {
    background-color: #FFD33D;
    padding: .3rem;
    border-radius: .3rem;
}

.questionTitle {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.option {
    border: 1px solid black;
    padding: .8rem;
    margin-bottom: .6rem;
    border-radius: .4rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.optionList .option:hover {
    color: #112b2c;
    background: #FFD33D;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.footer .questionIndex {
    background-color: red;
    padding: .3rem;
    color: #fff;
    border-radius: .3rem;
}

.startQuestion {
    background-color: #f0a500;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 1rem 4rem 1rem 4rem;
    border-radius: .3rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

#scoreBoxMain, #quizBox, #startQuestion {
    display: none;
}

#scoreBoxMain.active, #quizBox.active, #startQuestion.active {
    display: block;
}

.scoreBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreBox .fa-solid {
    font-size: 6rem;
    padding: 2.5rem 0 2.5rem 0;
}

.scoreBox .scoreText {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0 3.5rem 0;
}

.scoreBox .resultDiv {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-replay {
    background-color: #112b2c;
}

.btn-quit {
    background-color: #721c24;
}

.btn-replay,
.btn-quit {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem 4rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreBox .resultDiv .btn-replay .fa-repeat {
    font-size: 1.5rem;
}

.scoreBox .resultDiv .btn-quit .fa-circle-xmark {
    color: #fff;
}

.optionList .option.correct {
    color: #155724;
    background: #d4edda;
}

.optionList .option.incorrect {
    color: #721c24;
    background: #f8d7da;
}

.disable {
    pointer-events: none;
}

.timeSlider {
    position: absolute;
    bottom: 0;
    left: 0;
    height: .4rem;
    border-radius: 1rem;
    background: #f0a500;
    margin-bottom: -.7rem;
}

.btnNext {
    padding: .5rem;
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
    cursor: pointer;

    opacity: 0;
    transition: all .5s ease;
    transform: scale(.5);
}

.btnNext .fa-solid {
    font-size: 35px;
}

.btnNext.showNext {

    opacity: 1;
    transform: scale(1);
}

@media (max-width: 576px) {
    .spaceMain {
    width: 90%;
    padding: 1.2rem;
}

.timeSlider {
    display: none;
}
}